<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.model.Course" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="coursename" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="coursedesc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="courseteacher" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="coursetype" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="secondid" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ssm.model.Course" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="coursename" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="coursedesc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="courseteacher" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="coursetype" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="secondid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="courseimg" jdbcType="LONGVARBINARY" javaType="_byte[]" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, coursename, coursedesc, courseteacher, coursetype, secondid
  </sql>
  <sql id="Blob_Column_List" >
    courseimg
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.ssm.model.CourseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from td_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ssm.model.CourseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from td_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from td_course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from td_course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ssm.model.CourseExample" >
    delete from td_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.model.Course" >
    insert into td_course (id, coursename, coursedesc, 
      courseteacher, coursetype, secondid, 
      courseimg)
    values (#{id,jdbcType=INTEGER}, #{coursename,jdbcType=VARCHAR}, #{coursedesc,jdbcType=VARCHAR}, 
      #{courseteacher,jdbcType=VARCHAR}, #{coursetype,jdbcType=VARCHAR}, #{secondid,jdbcType=INTEGER}, 
      #{courseimg,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.model.Course" >
    insert into td_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="coursename != null" >
        coursename,
      </if>
      <if test="coursedesc != null" >
        coursedesc,
      </if>
      <if test="courseteacher != null" >
        courseteacher,
      </if>
      <if test="coursetype != null" >
        coursetype,
      </if>
      <if test="secondid != null" >
        secondid,
      </if>
      <if test="courseimg != null" >
        courseimg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="coursename != null" >
        #{coursename,jdbcType=VARCHAR},
      </if>
      <if test="coursedesc != null" >
        #{coursedesc,jdbcType=VARCHAR},
      </if>
      <if test="courseteacher != null" >
        #{courseteacher,jdbcType=VARCHAR},
      </if>
      <if test="coursetype != null" >
        #{coursetype,jdbcType=VARCHAR},
      </if>
      <if test="secondid != null" >
        #{secondid,jdbcType=INTEGER},
      </if>
      <if test="courseimg != null" >
        #{courseimg,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.model.CourseExample" resultType="java.lang.Integer" >
    select count(*) from td_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update td_course
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.coursename != null" >
        coursename = #{record.coursename,jdbcType=VARCHAR},
      </if>
      <if test="record.coursedesc != null" >
        coursedesc = #{record.coursedesc,jdbcType=VARCHAR},
      </if>
      <if test="record.courseteacher != null" >
        courseteacher = #{record.courseteacher,jdbcType=VARCHAR},
      </if>
      <if test="record.coursetype != null" >
        coursetype = #{record.coursetype,jdbcType=VARCHAR},
      </if>
      <if test="record.secondid != null" >
        secondid = #{record.secondid,jdbcType=INTEGER},
      </if>
      <if test="record.courseimg != null" >
        courseimg = #{record.courseimg,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update td_course
    set id = #{record.id,jdbcType=INTEGER},
      coursename = #{record.coursename,jdbcType=VARCHAR},
      coursedesc = #{record.coursedesc,jdbcType=VARCHAR},
      courseteacher = #{record.courseteacher,jdbcType=VARCHAR},
      coursetype = #{record.coursetype,jdbcType=VARCHAR},
      secondid = #{record.secondid,jdbcType=INTEGER},
      courseimg = #{record.courseimg,jdbcType=LONGVARBINARY}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update td_course
    set id = #{record.id,jdbcType=INTEGER},
      coursename = #{record.coursename,jdbcType=VARCHAR},
      coursedesc = #{record.coursedesc,jdbcType=VARCHAR},
      courseteacher = #{record.courseteacher,jdbcType=VARCHAR},
      coursetype = #{record.coursetype,jdbcType=VARCHAR},
      secondid = #{record.secondid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.model.Course" >
    update td_course
    <set >
      <if test="coursename != null" >
        coursename = #{coursename,jdbcType=VARCHAR},
      </if>
      <if test="coursedesc != null" >
        coursedesc = #{coursedesc,jdbcType=VARCHAR},
      </if>
      <if test="courseteacher != null" >
        courseteacher = #{courseteacher,jdbcType=VARCHAR},
      </if>
      <if test="coursetype != null" >
        coursetype = #{coursetype,jdbcType=VARCHAR},
      </if>
      <if test="secondid != null" >
        secondid = #{secondid,jdbcType=INTEGER},
      </if>
      <if test="courseimg != null" >
        courseimg = #{courseimg,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ssm.model.Course" >
    update td_course
    set coursename = #{coursename,jdbcType=VARCHAR},
      coursedesc = #{coursedesc,jdbcType=VARCHAR},
      courseteacher = #{courseteacher,jdbcType=VARCHAR},
      coursetype = #{coursetype,jdbcType=VARCHAR},
      secondid = #{secondid,jdbcType=INTEGER},
      courseimg = #{courseimg,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.model.Course" >
    update td_course
    set coursename = #{coursename,jdbcType=VARCHAR},
      coursedesc = #{coursedesc,jdbcType=VARCHAR},
      courseteacher = #{courseteacher,jdbcType=VARCHAR},
      coursetype = #{coursetype,jdbcType=VARCHAR},
      secondid = #{secondid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>